!!!5
html
    head
        title= "Board"
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="/tempo/Harmonize/Harmonize.js")
        script(type="text/javascript", src="/js/index/PC.js")
        script(type="text/javascript", src="/js/index/Board.js")
        script(type="text/javascript", src="/js/index/BoardController.js")
    body
        div.board